*{
padding: 0;
margin: 0;
}

img{
    max-width: 10rem;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(19, 53, 63);
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


.firstList, .secondList{
    background-color: black;
    
    padding: 0.5rem 3rem;
}

